{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'dmd_gui/css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'dmd_gui/css/style.css' %}"/>
    <title>ログイン</title>
</head>
<body>
    <form method="post" action="{% url 'login' %}" class="login_form">
        {% csrf_token %}
        <label for="username">ユーザ名:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit" class="login_button">ログイン</button>
    </form>
    {% if error %}
        <p style="color: red;" class="login_p">{{ error }}</p>
    {% endif %}
</body>
</html>