/* 全体の設定 */
html, body {
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url("01_images/denryoku_mark.png");
    background-repeat:repeat;
    background-size: 15% 15%; 
    background-blend-mode: lighten; 
}
h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}


/* login.html */
.login_form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login_button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.login_button:hover {
    background-color: #0056b3;
}
.login_p {
    text-align: center;
    margin-top: 10px;
}
.login_p[style="color: red;"] {
    color: red;
}


/* メニュー表示 */
header aside nav ul {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    background-color: #19e5cd;
    padding: 0.4em;
}
header aside nav ul li {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #fac507;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    margin-right: 10px;
}
.button:hover {
    background-color: #45a049;
}
.button:active {
    background-color: #45a049;
    box-shadow: 0 5px #999;
    transform: translateY(4px);
}
.update-button {
    display: inline-block;
    margin-left: 700px;
    background-color: #999;
    border: 1px solid;
    padding: 5px;
}


/* index.html */
.home {
    font-size: 50px;
    margin-top: 5em;
    text-align: center;
    font-weight: bold;
    letter-spacing:0.5em;
}


/* forecast_all.html */
.grid-container1 {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 7% 43% 7% 30%;    
}
.all_forecast {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    padding: 0.5em;
}
.iframe1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    z-index: 1; 
    top: 10px;
    left: 240px;
    width: 900px;  
    height: 448px; 
    transform: scale(0.9); 
    border: none;
    pointer-events: none;
}
.radar_forecast {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    padding: 0.5em;
}
.iframe2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    z-index: 2; 
    top: 10px;
    left: 240px;
    width: 900px;  
    height: 448px; 
    transform: scale(0.9); 
    border: none;
    pointer-events: none;
}
.one_hour_forecast {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    padding: 0.5em;
}


/* forecast_details.html */
.grid-container2 {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 21% 21% 21% 21%;
}
.iframe {
    width: 1150px;  
    height: 200px; 
    transform: scale(0.6); 
    border: none;
    position: relative;
    left: -170px;
}
.fk_info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em;
}
.iframe3 {
    z-index: 3;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.km_info {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em;
}
.iframe4 {
    z-index: 4;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.kg_info {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em;
}
.iframe5 {
    z-index: 5;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.oo_info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em;
}
.iframe6 {
    z-index: 6;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.mz_info {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em;
}
.iframe7 {
    z-index: 7;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.ng_info {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em;
}
.iframe8 {
    z-index: 8;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.sg_info {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em;
}
.iframe9 {
    z-index: 9;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}


/* demand_info.html */
.demand_Graph {
    width: 100%;
}
.table-container {
    width: 80%;
    margin: 20px auto;
    max-height: 400px;
    /* overflow-y: auto; */
    overflow: hidden; /* 外側のコンテナでのスクロールを防ぐ */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; /* 追加: 表示のズレを防ぐ */
}
thead {
    display: table; /* テーブルの一部として表示 */
    width: calc(100% - 1px); /* テーブルの幅から境界線の幅を引く */
    background-color: #f4f4f4;
    color: #333;
    position: sticky;
    top: 0; /* スクロールに対して固定する */
    z-index: 1; /* 他の要素よりも前面に表示 */
}
tbody {
    display: block;
    height: 300px; /* 必要に応じて調整 */
    overflow-y: auto;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 150px; /* 必要に応じて調整 */
    box-sizing: border-box; /* パディングとボーダーのサイズを含める */
}
th {
    background-color: #f4f4f4;
    color: #333;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
.highlight {
    background-color: rgb(121, 235, 121);
}
/* メディアクエリ（レスポンシブデザイン）  ※参考 */
@media (max-width: 768px) {
    .table-container {
        width: 100%;
    }
    th, td {
        padding: 8px;
    }
}


/* フッターの設定 */
footer{
    display: flex;
    position: fixed;
    background-color:cyan;
    bottom: 0;
    width: 100%;
}
.logout-button {
    margin: 0.3em;
    background-color: #999;
    border: 1px solid;
    padding: 0.1em;
    width: 8%;
    text-align: center;
}
.error-message {
    color: red;
    background-color: #fdd;
    border: 1px solid red;
    padding: 0.3em;
    margin: 0.1em 0.1em 0.1em 50.0em;
    width: 50%;
}
.error-message.visible {
    display: block;
}